<header>
    <div class="container">
        <div class="logo">
            <h1 href="{{ url_for('home') }}">MyLoginApp</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('create_new_user') }}">Create New User</a></li>
                <li><a href="{{ url_for('users_list') }}">Users List</a></li>
            </ul>
        </nav>
        <div class="user-greeting">
            {% if session.get('username') %}
                <div class="dropdown">
                    <button class="dropbtn">Hello, {{ session.get('username') }}! ▼</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('profile') }}">Profile</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <p>Welcome, Guest!</p>
            {% endif %}
        </div>
    </div>
</header>
