<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>

    </style>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="edit_user-container">
            <div class="edit_user-card">
                <h2>Editing for user: {{ user.username }}</h2>

                <form method="POST" action="{{ url_for('change_password') }}">
                    <div class="form-container">
                        <label for="name">Current Password</label>
                        <input type="text" id="name" name="current-password" placeholder="Enter your current password">

                        <label for="name">New Password</label>
                        <input type="text" id="name" name="new-password" placeholder="Enter your current password">

                        <label for="name">Confirm Password</label>
                        <input type="text" id="name" name="confirm-password" placeholder="Enter your current password">
                        
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
                
                
            </div>
        </div>
    </main>
</body>
</html>
