<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_new_user</title>
</head>
<body>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'header.html' %}
        <main style="padding-top: 5%;">

            <div class="create_new_user-container">
                <div class="create_new_user-card">
                  <h2>Create New User</h2>
                    <form method="POST" action="{{ url_for('create_new_user') }}">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        <label for="username">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        
                        <label for="password">Confirm-Password</label>
                        <input type="password" id="Confirm-Password" name="cpassword" placeholder="Enter your password again to confirm" required>
                        
                        <button type="submit">Create New User</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </main>
</body>
</html>
