<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>

    </style>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="edit_user-container">
            <div class="edit_user-card">
                <h2>Editing for {{user.role}}: {{ user.username }}</h2>

                <form method="POST" action="{{ url_for('edit_profile') }}">
                    <div class="form-container">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="{{ user.name }}">
                        
                        <label for="mobileno">Mobile Number</label>
                        <input type="text" id="mobileno" name="mobileno" value="{{ user.mobileno }}">
                        
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ user.email }}" required>
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
                
                
            </div>
        </div>
    </main>
</body>
</html>
